.form{
    padding: 30px 40px;
    margin: 50px auto;
    border-radius: 20px
}

.a{
    text-align: center;
    background-color: bisque;
}


.sariq{
    color: yellow;
}


.boody{
    background-color: black;
}

.v{
    background-color: green;
    color: black;
}